<app-banner [title]="'Diploma in Pharmacy'"></app-banner>

<body>
  <div class="container">
    <h2 class="text-center my-4">Course Details</h2>

    <div class="row">
      <div class="col-md-6"data-aos="zoom-in" data-aos-duration="1000">
        <div class="course-image" >
          <img src="assets/classroom.jpg" alt="Course Image">
        </div>
      </div>
      <div class="col-md-6"data-aos="zoom-in" data-aos-duration="1000">
        <p class="text-justify">2 years + practical training of 500 hours spread over a period of not less than 3 months in a government hospital / pharmacy/chemists & druggists.
         <br><br><strong>
          Eligibility:</strong> A pass in any of the following examinations with Physics and Chemistry as optional subjects.
          
          Pre-university course / 10+2 /PDC/ Intermediate / Higher Secondary examination in Science.
          <br><br><strong>
          Age :</strong> 17 Years and above as on 31st December of the year of admission.
          <br><br><strong>
          Attendance Requirement :</strong> A minimum of 80% in both theory and practical classes is mandatory to get eligibility for sessional /internal assessment as well as annual examination.
          
          
          

      </div>
    </div>

    <!-- <div class="container">
     
        <h2 class="text-center my-4">Syllabus</h2>
        <div class="syllabus d-flex justify-content-center"data-aos="zoom-in" data-aos-duration="1000">
          <table>
            <thead>
              <tr>
                <th>Year</th>
                <th>Subjects</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>First Year</td>
                <td>
                  <ul>
                    <li>Anatomy and Physiology</li>
                    <li>Microbiology</li>
                    <li>Pharmacology</li>
                    <li>Nursing Foundations</li>
                    <li>Community Health Nursing</li>
                    <li>Medical-Surgical Nursing</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Second Year</td>
                <td>
                  <ul>
                    <li>Child Health Nursing</li>
                    <li>Mental Health Nursing</li>
                    <li>Obstetric Nursing</li>
                    <li>Research Methodology and Statistics</li>
                    <li>Medical-Surgical Nursing II</li>
                    <li>Nursing Education</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Third Year</td>
                <td>
                  <ul>
                    <li>Community Health Nursing II</li>
                    <li>Geriatric Nursing</li>
                    <li>Community Psychiatry</li>
                    <li>Nursing Administration and Management</li>
                    <li>Nursing Research and Statistics</li>
                    <li>Elective Clinical Specialization</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
      